.form-group {
  width: 200px;
}

.grid-center {
  display: grid;
  align-items: center;
  height: 100%;


}

#Vihod {
  position: fixed;
  margin-left: 80%;
  margin-top: 5%;
}

#ramka {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-left: 1.5%;
}

#Harakt {
  border: 2px solid #c0c0c0;
}

#Harakt:hover {
  background: #c0c0c0;
}

#Tabl {
  border: 2px solid #c0c0c0;
  margin-top: 10%;
}

#Tabl:hover {
  background: #c0c0c0;
}

.container {
  margin: auto;
}

h4 {
  text-align: center;
}
