
#body_button {
  text-decoration: none;
  outline: none;
  display: inline-block;

  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  /* font-family: "Helvetica Neue"; */
  /* font-weight: 400; */
  /* text-transform: uppercase; */

  letter-spacing: 2px;
  color: rgba(100,100,167,0.4);
  background: none;
  transition: color .3s, background .5s;
}

#body_button{
  color: #000000;
}


body {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
