body{
  background: url('https://sun9-44.userapi.com/c857320/v857320842/2c653/IKHQ5GZS7fo.jpg');
}
.list-group{
margin-top: 10%;
}
.info{
background-color: black;
margin-top: 30%;
height: 270px;
}
.inform{
color: #909090;
text-align: center;
font-weight: 5;

color: #909090;
text-align: center;

}
.site{
color: white;
text-align: center;
padding: 45px;
font-weight: 30;
}
