<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style media="screen">
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
  }
</style>
<body>
  <div class="container">
      <div class="d-flex justify-content-between">

    <img src="{{url_for('static', filename='imgs/LOGO.png')}}"  width="150" height="180" class="d-inline-block align-top" alt="">

    <h5>Здравствуйте, {{teacher}}</h5>

    <h5> {{name}}</h5>
    <div class="d-flex flex-column bd-highlight mb-3">
    <h5><button onclick="window.location.href='/'" class="btn btn-warning btn-lg" id="Vihod">Выход</button></h5>
  </div>


  </div>
    <div class="shadow-box">
        <table border="1px" align="center" width="100%" cellspacing="0" id="myTable2">
            <tr>
                <th onclick="sortTable(0)" width="60%" align="center">ФИО</th>
                <th onclick="sortTable(1)">Присутствие</th>
            </tr>
            {% for i in studentsList %}
            <tr height="50px">
                <th>{{i[0]}}</th>
                <td align="center">{{i[1]}}
                </td>
            </tr >
            {% endfor %}
        </table>
        <h1>

        </h1>
        </div>

      </div>

</body>



<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable2");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>


<script>

    checkboxes = document.getElementsByTagName("td");
    lastnames = document.getElementsByTagName("th");
    console.log(checkboxes);
    for (var i = 0; i < checkboxes.length; i++) {
        var checkbox = checkboxes[i];
        var lastname = lastnames[i + 2];
        if ((checkbox.textContent).charAt(0) == "N") {
            checkbox.textContent = "Нет";
            //lastname.style = "background: rgba(255,0,0,0.4)"
        }
        if (((checkbox.textContent).charAt(0) == "Н" || (checkbox.textContent).charAt(0) == "н") && ((checkbox.textContent).charAt(1) == "е" && (checkbox.textContent).charAt(2) == "т")) {
            checkbox.style = "background: rgba(255,0,0,0.4)";
            //lastname.style = "background: rgba(255,0,0,0.4)"
        }
    }
</script>
<body>

</body>
</html>
