<!doctype html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=0.7">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/personal.css">
    <title>Personal_page</title>
  </head>
  <style>
  html {
    font-size: 16px;
  }
  .navbar{
    margin-bottom: 10%;
  }
  .sign{
    margin-left: 70%;
    opacity: 0.7;

  }

  .info{
  background-color: black;
  margin-top: 15%;
  height: 360px;
  }
  .inform{
  color: #909090;
  text-align: center;
  font-weight: 5;

  color: #909090;
  text-align: center;

  }
  .site{
  color: white;
  text-align: center;
  padding: 45px;
  font-weight: 30;
  }
  .list-group{
  margin: auto;
  margin-top: 5%;
  width: 90%;
  }
  body{
    background: #e9e9e9;
    background-attachment: fixed;
    background-size: 200% ;
  }
  .list-group-flush {
    box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.3);
  }

  h5 {
  text-align: center;
  }
  h3 {
    text-align: center;
  }
.toast{
  margin-left: auto;
  margin-right: auto;
}
   li h6 {
    text-align: center;
  }
  h4 {
    margin-top: 3%;
  }
  #not1{
    margin-bottom: 5%;
  }

  </style>
  <script>

  $('#Vihod').click(function () {
header("Location: home.html");
});
  </script>
  <body width:100%; height: "100%">



  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="d-flex justify-content-start">

        <img src="{{url_for('static', filename='imgs/LOGO.png')}}" width="40" height="45" class="d-inline-block align-top" alt="">
      <h4>Личный Кабинет</h4>

      </div>

    </a>
    <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-secondary btn-lg" onclick="window.location.href='/'" id="Vihod">Выход</button>
  </div>

  </nav>
  {%if bio == 1%}
  <div class="d-flex justify-content-between">



  <div style="background: #FFA500		;"class="toast" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="false">
    <div class="toast-header">
      <img src="{{url_for('static', filename='imgs/LOGO.png')}}" class="rounded mr-2" width="20" height="25" alt="...">
      <strong class="mr-auto">Любимый_лицей :)</strong>
      <small>few seconds ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Уважаемые восьмиклассники!<br>
      Приглашаем вас 15 и 18 мая на онлайн-конференции в Zoom.<br>

      Консультация №1 по биологии к тестированию (проводит Юлия Николаевна Чернышова) состоится 15 мая 2020 в 16:00.<br>

      Подключиться к конференции Zoom <br>
      <a href="https://us04web.zoom.us/j/3637020284?pwd=VTZMRGdmYnl0">https://us04web.zoom.us/j/3637020284?pwd=VTZMRGdmYnl0..</a><br>

      Идентификатор конференции: 363 702 0284<br>
      Пароль: 637841  </div>


</div>
</div>
{%endif%}



  <div class="list-group list-group-flush" >



    <li class="list-group-item"><h3>{{ nickname }}</h3></li>
    <li class="list-group-item"><h5>Вы выбрали профили:</h5> <ul><br> <li>{{ naprav_1 }}</li> <br> <li>{{naprav_2}}</li><br><li>{{naprav_3}}</li></ul></li>


    <center><h5 style="color: red; ">Выбор направлений остановлен</h5><br><small style="color: red; ">(Оценки по математике, физике, русскому и иностранному языкам будут доступны позже)</small></center><hr>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">Мои оценки за внутренние олимпиады</button>

    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 style="color: red;"class="modal-title">Мои оценки</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <table border="1" style="border-collapse: collapse; width: 100%;">
                <tr>
                  <td style="color:red;">Предмет</td>
                  <td style="color:red;">Оценка</td>

                </tr>
                <tr>
                  <td>Математика</td>
                  <td><strong>5</strong></td>

                </tr>
                <tr>
                  <td>Информатика</td>
                  <td><strong>5</strong></td>

                </tr>
                <tr>
                  <td>Химия</td>
                  <td><strong>5</strong></td>

                </tr>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: red;"class="modal-title">Мои оценки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    {%if chem == 1%}
    <li class="list-group-item"><ul><li>Экзамен по Химии пройдет 19 мая (время уточняется)</li></ul></li>
    {%endif%}

    {%if bio == 1%}
    <li class="list-group-item"><ul><li>Экзамен по Биологии пройдет 19 мая (время уточняется)</li></ul></li>
    {%endif%}

    {%if inf == 1%}
    <li class="list-group-item"><ul><li>Экзамен по Информатике пройдет 18 мая (время уточняется)</li></ul></li>
    {%endif%}
</div>


<div class=" info" >


<h5 class='site'> 2020 © Школа №1502 "Энергия" </h5>
<h6 class="inform">
  <br>Ваша территория: {{stu_ter}}
<br>Если остались вопросы, адрес электронной почты :
help@stu.1502.moscow<br>

<img class="sign" src="{{url_for('static', filename='imgs/sign3.pdf')}}" width="150" height="150" class="d-inline-block align-top" alt="">
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function(){
      $(".toast").toast('show')
    })
  $(document).ready(function(){
    $('#modal').modal('show')
  })

</script>


    </body>

    </html>
