<!doctype html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=0.7">

    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="#">
    <title>Thanks</title>
  </head>
<style media="screen">
.container{
    margin-top: 5%;
  }
body{
  background: url('https://static.wixstatic.com/media/f4b4b6_6a1934bba97a4eaa82632ae210df827d~mv2.png');
  background-attachment: fixed;
  background-size: 100% auto;
}
</style>
<body class="text-center">
  <div class="container">


  <h1> Профили успешно выбраны! <h1> <br>
    <button type="button" onclick="location.href='thanks0.html';" class="btn btn-primary">список учеников</button>

</div>


    </body>

    </html>
