<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=0.7">


    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="#">
    <title>Thanks</title>
  </head>
<style media="screen">
.container{
    margin-top: 5%;
  }
body{
  background-attachment: fixed;
  background-size: 100% auto;
}
</style>
<body class="text-center">
  <div class="container">


  <h1> Отчет был успешно отправлен <h1> <br>
    <h3>Спасибо, что воспользовались нашим сайтом!</h3>
    <button type="button" onclick="location.href='/teacher_choice_form';" class="btn btn-primary">Вернуться к списку учеников</button>

</div>


    </body>

    </html>
